<%= form_for(@tag_association) do |f| %>
  <% if @tag_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_association.errors.count, "error") %> prohibited this tag_association from being saved:</h2>

      <ul>
      <% @tag_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note_id %><br>
    <%= f.number_field :note_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.number_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
